body {
    background-color: #cccccc;
}

h1 {
    font-family: comic;
}

h3 {
    text-decoration: underline;
    font: italic bold 18px/30px Georgia;
}
ul {
    list-style-type: square;
    font: bold 14px arial;
}
a:link {
    color: #0000FF;
}
a:hover {
    color: #FF0000;
}
